<html>
    <head>
        <title>Haju's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.naver.com">Haju Blog</a></h1>
        </div>
        <div>
            <h2>Ha</h2>
            <p>League of Legend</p>
            <h4>League of legend</h4>
        </div>
        <div>
            <h2>Joo</h2>
            <p>League of Legend</p>
            <h5>League of legend</h5>
        </div>
        <div>
            <h2>Hyun</h2>
            <p>League of Legend</p>
            <h6>Leage of legend</h6>
        </div>
    </body>
</html>